*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "eras";
    src: url("font/eras-book.otf");
}

@font-face {
    font-family: "eras-demi";
    src: url("font/eras-demi.otf");
}

body {
    background-color: rgb(247, 252, 254);
    font-family: "eras";
}

/*
_______________________________________________________________________________________________________________________________________________________________
                                BARRA DE NAVEGACION
_______________________________________________________________________________________________________________________________________________________________
*/

nav {
    background-color: rgba(247, 252, 254, 0.6);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0.6vh 2vh;
    font-family: "eras";
    box-shadow: 0 20px 30px rgba(247, 252, 254, 0.15);
    z-index: 10;
}

/*
_______________________________________________________________________________________________________________________________________________________________
                                VISTA PRINCIPAL
_______________________________________________________________________________________________________________________________________________________________
*/


header {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

li a {
    margin-left: 40px;
    font-size: 1.1vw;
}

nav a {
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-style: oblique;
    font-weight: bold;
}

.box {
    position: absolute;
    top: 30%;
    right: 10%;
    background-color: rgba(247, 252, 254, 0.4);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    height: 35vh;
    width: 50vh;
}

.boxt {
    color: black;
    letter-spacing: 1px;
    font-style: italic;
    font-family: "eras-demi";
    font-size: 4.5vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}

.boxp {
    color: black;
    letter-spacing: 1px;
    font-style: italic;
    font-family: "eras";
    font-size: 1.1vw;
    position: absolute;
    bottom: 35%;
    left: 5%;
}

.boxp2 {
    color: black;
    letter-spacing: 1px;
    font-style: italic;
    font-family: "eras";
    font-size: 0.9vw;
    position: relative;
    text-align: center;
}

.btn {
    border: solid 0.125rem rgb(0, 153, 255);
    border-radius: 0.1875rem;
    padding: 0 1.875rem;
    background: transparent;
    color: rgb(0, 153, 255);
    font-size: 1.5vw;
    font-family: "eras";
    text-decoration: none;
    position: fixed;
    bottom: 10%;
    right: 25%;
}

.aligndiv {
    text-align: center;
}

/*
_______________________________________________________________________________________________________________________________________________________________
                                SECCION 1: ¿QUE ES?
_______________________________________________________________________________________________________________________________________________________________
*/


.sec1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.qSec {
    position: absolute;
    left: 50%;
    background-color: #d1e9a3;
    height: 100%;
    width: 50%;
}

.queEsT {
    color: #008037;
    letter-spacing: 1px;
    font-style: italic;
    font-family: -"eras-demi";
    font-size: 9vw;
    position: absolute;
    top: 40%;
    right: 52%;
    left: 6%;
    bottom: 35%;
}

.qEsB {
    color: black;
    letter-spacing: 1px;
    font-style: italic;
    font-family: "eras";
    font-size: 2vw;
    position: absolute;
    top: 35%;
    left: 55%;
    right: 5%;
    bottom: 35;
}

.line {
    width: 1%;
    background-color: black;
    height: 50%;
    float: left;
    position: absolute;
    left: 49.53%;
    top: 25%;
    bottom: 25%;
    z-index: 9;
}

/*
_______________________________________________________________________________________________________________________________________________________________
                                SECCION 2: PROCESO DE ELABORACION
_______________________________________________________________________________________________________________________________________________________________
*/


.sec2 {
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #008037;
}

.timeTitle {
    text-align: center;
    font-size: 8vw;
    color: white;
    font-family: "eras-demi";
}

.timeline {
    position: relative;
    max-width: 120vh;
    margin: 0 auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h2 {
    font-size: 2vw;
}

@media screen and (max-width: 600px) {

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}


/*
_______________________________________________________________________________________________________________________________________________________________
                                SECCION 3: ETIQUETA
_______________________________________________________________________________________________________________________________________________________________
*/

.sec3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.etiT{
    position: absolute;
    font-size: 8vw;
    left: 35%;
    right: 35%;
    top: 7%;
    font-family: "eras-demi";
}

.etip{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    z-index: 1;
}

.etiPrincipal {
    display:block;
    margin:auto;
}

.der1{
    position: absolute;
    top: 10%;
    right: 10%;
    left: 80%;
}

.der2{
    position: absolute;
    bottom: 5%;
    right: 10%;
    left: 80%;
}

.izq1{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 85%;
}

.izq2{
    position: absolute;
    top: 40%;
    bottom: 30%;
    left: 5%;
    right: 85%;
}

.izq3{
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 85%;
}

/*
_______________________________________________________________________________________________________________________________________________________________
                                PIE DE PAGINA: SOBRE NOSOTROS
_______________________________________________________________________________________________________________________________________________________________
*/

footer{
    height: 75vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-color: #7ED957;
}

footer h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
    letter-spacing: 3px;
}

footer p {
    text-justify: auto;
    font-size: 1vw;
    letter-spacing: 1px;
}

.ft1{
    position: absolute;
    top: 10%;
    left: 3%;
    right: 80%;
}

.ft2{
    position: absolute;
    top: 10%;
    left: 25%;
    right: 55%;
}

.ft3{
    position: absolute;
    top: 10%;
    left: 50%;
    right: 30%;
}

.ft4{
    position: absolute;
    top: 10%;
    left: 75%;
    right: 5%;
}